RewriteEngine On
RewriteCond %{HTTP_HOST} cinephilesreact.github.io [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.canva.com/design/DAE0juWsOsk/3sAq-YdH0edqzKEkM5qHhg/view?website#4:home [R,L]
